<style>
  .clinicDivs:hover {
    font-weight: bold;
  }

  .clinicDivs:hover .clinicDivsFonts {
    font-size: 20px;
  }
</style>
<div class="row clinicDivs" style="margin-top: 10px;padding-bottom: 10px;border-bottom: 1px black solid">
  <div class="col-sm-1">{{fixed_clinicDto.clinicDtos.indexOf(fixed_clinicDto)+1}}</div>
  <div class="col-sm-2">{{fixed_clinicDto.clinic.clinicDate}}</div>
  <div class="col-sm-2">{{fixed_clinicDto.clinic.clinicTime}}</div>
  <div class="col-sm-3">0 / {{fixed_clinicDto.clinic.patientsCount}}</div>
  <div class="col-sm-2">{{fixed_clinicDto.clinic.status}}</div>
  <div class="col-sm-1" style="text-align: center;cursor: pointer" (click)="changeClinic()">
    <i class="fa fa-pencil fa-1x clinicDivsFonts"></i>
  </div>
  <div class="col-sm-1" style="text-align: center;cursor: pointer" (click)="cancelClinic()">
    <i class="fa fa-times fa-1x clinicDivsFonts" style="color: red"></i>
  </div>
</div>