<div class="row" style="margin-top: 10px;padding-bottom: 10px;border-bottom: 1px black solid">
    <div class="col-sm-4" style="height: 100%">{{fixed_clinicDto.clinic.date}}</div>
    <div class="col-sm-2">{{fixed_clinicDto.clinic.time}}</div>
    <div class="col-sm-2">{{fixed_clinicDto.clinic.patientsCount}}</div>
    <div class="col-sm-3">Pending</div>
    <div class="col-sm-1">
      <i class="fa fa-pencil fa-1x" style="cursor: pointer;margin-right: 20px" (click)="changeData()"></i>
      <i class="fa fa-times fa-1x" style="color: red" (click)="deleteData()" ></i>
    </div>
  </div>