<app-header></app-header>

<section id="about">
  <div class="container" style="font-size: 16px">
    <div class="row" style="font-weight: bold;border-bottom: 1px black solid">
      <div class="col-sm-4">Date</div>
      <div class="col-sm-4">Time</div>
      <div class="col-sm-3">Patients count</div>
      <div class="col-sm-1"></div>
    </div>
    <div *ngFor="let consultationDto of consultationsDtos">
        <app-fixed-consultation  [fixed_consultationDto]="consultationDto" *ngIf="!consultationDto.edit"></app-fixed-consultation>
        <app-edit-consultation [edit_consultationDto]="consultationDto" *ngIf="consultationDto.edit"></app-edit-consultation>
    </div>
  </div><!-- end columns -->
  <div class="row">
      <div class="col-sm-12" style="margin-top: 50px">
        <button class="btn btn-warning"
          style="position: absolute;left: 50%;transform: translateX(-50%)" (click)="addField()">add consultation</button>
      </div>
    </div>
</section><!-- end about -->

<app-footer></app-footer>