<!-- <app-header></app-header> -->
<section id="about" style="padding-top: 120px">
  <div class="container" style="font-size: 16px">
    <div class="row" style="text-align: center;margin-bottom: 20px;font-weight: bold">
      <div class="col-sm-6" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-up fa-2x"
          (click)="nextYear()"></i></div>
      <div class="col-sm-6" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-up fa-2x"
          (click)="nextMonth()"></i></div>
    </div>
    <div class="row" style="text-align: center;font-weight: bold">
      <div class="col-sm-6" style="font-size: 28px">
        <select style="background-color: rgba(255, 255, 255, 0);border: 1px solid rgba(0, 0, 0, 0.096);"
          (change)="changeYear()" [(ngModel)]="selectedYear">
          <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
        </select>
      </div>
      <!-- <div class="col-sm-6" style="font-size: 28px">{{getMonth()}}</div> -->
      <div class="col-sm-6" style="font-size: 28px">
        <select [ngStyle]="{'background-color': 'rgba(255, 255, 255, 0)','border': '1px solid rgba(0, 0, 0, 0.096)','width':dropdownMonthWidth}"
          (change)="changeMonth()" [(ngModel)]="selectedMonth">
          <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
        </select>
      </div>
    </div>
    <div class="row" style="text-align: center;margin-top: 20px;margin-bottom: 70px;font-weight: bold">
      <div class="col-sm-6" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-down fa-2x"
          (click)="previousYear()"></i></div>
      <div class="col-sm-6" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-down fa-2x"
          (click)="previousMonth()"></i></div>
    </div>
    <div class="row" style="font-weight: bold;border-bottom: 1px black solid">
      <div class="col-sm-1">No</div>
      <div class="col-sm-2">Date</div>
      <div class="col-sm-2">Time</div>
      <div class="col-sm-2">Patients count</div>
      <div class="col-sm-2">Status</div>
      <div class="col-sm-1" style="text-align: center">Explore</div>
      <div class="col-sm-1" style="text-align: center">Set</div>
      <div class="col-sm-1" style="text-align: center">Cancel</div>
    </div>

    <ng-container *ngFor="let clinicDto of clinicDtos">
      <app-fixed-clinic [fixed_clinicDto]="clinicDto" *ngIf="!clinicDto.edit" style="cursor: default"></app-fixed-clinic>
      <app-edit-clinic [edit_clinicDto]="clinicDto" *ngIf="clinicDto.edit" style="cursor: default"></app-edit-clinic>
    </ng-container>

    <div class="row" style="margin-top: 100px;font-size: 25px">
      <!--<div class="col-sm-12" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-up fa-2x"></i></div>-->
      <div class="col-sm-5" style="text-align: right">Approximate time for a patient</div>
      <div class="col-sm-2" style="text-align: right;color: rgb(194, 146, 2)"><i class="fa fa-arrow-right"></i></div>
      <div class="col-sm-2" style="text-align: right">
        <select style="background-color: rgba(255, 255, 255, 0);border: 1px solid rgba(0, 0, 0, 0.096);">
          <option *ngFor="let minute of minutes" value="{{minute}}">{{minute}}</option>
        </select>
      </div>
      <div class="col-sm-3" style="">Minutes</div>
      <!--<div class="col-sm-12" style="cursor: pointer;color: rgb(194, 146, 2)"><i class="fa fa-arrow-down fa-2x"></i></div>-->
    </div>
  </div><!-- end columns -->
</section><!-- end about -->

<app-footer></app-footer>
